:root{
  --normal: #a6a877;
  --grass: #77c850;
  --fire: #ee7f20;
  --water: #678fee;
  --electric: #f7cf2e;
  --ice: #98d5d7;
  --ground: #dfbf69;
  --flying: #a98ff0;
  --poison: #a040a0;
  --fighting: #bf3029;
  --psychic: #f65687;
  --dark: #725847;
  --rock: #b8a137;
  --bug: #a8b720;
  --ghost: #6e5896;
  --steel: #b9b7cf;
  --dragon: #6f38f6;
  --fairy: #f9aec7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, html{
  width: 100%;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

.mobileonly{
  display: none;
}

nav{
  margin-top: 20px;
  justify-content: space-between;
}

h1{
  color: #2c2c2c;
  font-weight: bold;
}

.container{
  max-width: 1600px;
  width: 100%;
  padding: 0 3%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

.grid .card{
  width: 220px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-radius: 16px;
  padding: 20px;
  position: relative;
}

.grid .card h2{
  font-size: 16px;
  margin-top: 12px;
  text-transform: capitalize;
}

.grid .card .number{
  font-size: 13px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.grid .card .types{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
}

.grid .card .types span{
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 20px;
  filter: brightness(1.2);
}

.grid .card .types span:nth-child(1){
  margin-bottom: 8px;
  margin-top: 12px;
}

.grid .card img{
  max-width: 92px;
  width: 35%;
  align-self: flex-end;
  transform: scaleX(-1);
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination button{
  background-color: #808080;
  color: #fff;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  transition: .4s;
}

.pagination button:hover{
  color: #000;
}

@media screen and (max-width: 718px){
  .mobileonly{
    display: flex;
  }

  h1{
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .grid .card{
    max-width: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 425px){
  .grid .card{
    max-width: 160px;
    padding: 12px;
  }

  .grid .card h2{
    font-size: 14px;
    margin-top: 8px;
  }

  .grid .card .types span{
    font-size: 12px;
  }

  .grid .card img{
    max-width: 56px;
  }
}